.main {
    display: flex;
    flex: 1;
    font-family: 'Comic Sans MS';
    margin: 16px;

    background-image: url(assets/santa.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50vh;
    justify-content: center;
}

.part {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
}

.input {
    /* display: block; */
    align-self: stretch;

    width: 100%;
    flex: auto;

    border: 5px solid #106b10;
    border-radius: 5px;

    padding: 15px;
    outline: none;
}

.generate {
    display: block;

    margin-top: 20px;

    flex: none;
    height: 100px;

    border: 10px solid #106b10;
    border-radius: 10px;

    font-family: inherit;
    font-size: 22px;

    background-color: #d50202;
    color: #FFFFFF;
}

.generate:focus {
    border-color: #E6E020;

    outline: none;
}

.result {
    margin-top: 20px;

    flex: none;

    border: 10px solid #E6E020;
    border-radius: 10px;

    padding: 15px;

    background: #FFFFFF;
}

.result a {
    color: blue;
}

.result.none {
    display: none;
}

.result.error {
    border-color: #EA1212;

    color: #EA1212;
}

.result_table {
    table-layout: fixed;

    max-width: 600px;
}

.result_name {
    width: 30%;

    padding: 5px 8px;
}

.result_link {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}